# svn
.svn/

# binaries
*.pyc
*.pyo
__pycache__/
*.exe

# tmp
*.log
*.patch
*.diff
*.tmp

# the user ini
Mopy/bash.ini

# I add a top level folder for dumping local files
~/*

# Release archives.
scripts/dist/*.7z
/Mopy/bash/game/test_fnv.txt
/Mopy/bash/game/test_fo3.txt
/Mopy/bash/game/test_fnv.pas
/Mopy/bash/game/test_fo3.pas
